.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
}

.content-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.flex-end{
    justify-content: flex-end;
}